@model Dt191G_moment3.Models.Borrow

@{
    ViewData["Title"] = "Låna album";

    @* var id = ViewContext.RouteData.Values["id"] as string; *@
    


}

<h1>Låna album</h1>



<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BorrowedTitle" class="control-label"></label>
                <input readonly asp-for="BorrowedTitle" class="form-control" />
                <span asp-validation-for="BorrowedTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowedArtist" class="control-label"></label>
                <input readonly asp-for="BorrowedArtist" class="form-control" />
                <span asp-validation-for="BorrowedArtist" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BorrowedTo" class="control-label"></label>
                <input asp-for="BorrowedTo" class="form-control" />
                <span asp-validation-for="BorrowedTo" class="text-danger"></span>
            </div>

            <br>
            <div class="form-group">
                <input type="submit" value="Låna" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

    @* Steg 1 : Ändra isBorrowed till dess motsatta värde och lagra i databas
    Skapa en submit i en form, routing till annan sida inom borrow-modellen
    Steg 2: Lagra data om uthyraren i extern db

    Eller!

    Addera IsBorrowedTo i Music, sätt default som null.
    När man lånar får man fylla i denna uppgift. Blir inte längre null.
    I skivstället blir raden rödmarkerad om albumet är utlånat, och till vem. Annars "finns i skivstället"
    Om man ändrat värdet till true (isBorrowed) så anges "ingen uppgift" om det inte är sepcificerat vem den är utlånad till.
    Om album är utlånat ska en extra a-tagg finnas med möjligheten att återlämna utan att gå in på edit *@
   
    

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



